body{
    font-family: 'Noto Sans KR', 'helvetica', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#fullpage .slide img, #fullpage #section4 img {
    height: 80vmin;
    max-height: 960px;
    width: auto;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
}
.section{
	text-align:center;
}

/*background-color animation*/
#section0 {
    background: linear-gradient(45deg, #0000ff, #0000ff, #00ffff, #00ff00, #ffff00, #ffff00, #ff6600, #bf00ff, #ff0066);
    background-size: 4000% 4000%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#section1, #section2, #section3, #section4 {
    background: rgba(230, 230, 230, 1)
}

#menu{
    width: 100%;
	height: 44px;
	position:fixed;
	top:0;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
	z-index: 70;
}
#menu #menu-main {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 50px;
}
#menu #menu-main li {
    float: left;
    text-align: center;
}
#menu li a {
    font-size: 13px;
    font-weight: 400;
    line-height: 3.4em;
	text-decoration: none;
	color: #fff;
    padding: 0 20px;
}
#menu li.active a:hover {
	color: #fff;
}
#menu li a:hover {
    color: #000;
}
#menu li a,
#menu li.active a {
	display: inline-block;
}
#menu li.active a {
	color: #000;
}
#section0 h1 {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 3rem;
    line-height: 25rem;
}
#section0 h1 #name {
    font-family: 'Noto Sans KR';
    font-weight: 900;
}
#section0 #scroll img {
    width: 48px;
    height: 48px;
}
#section0 #scroll {
    -webkit-animation-name: scr;
    -moz-animation-name: scr;
    animation-name: scr;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate-reverse;
    -moz-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes scr {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(100%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
@-moz-keyframes scr {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(100%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
@keyframes scr {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(100%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

#footer {
    margin: 0 auto;
    background-color: black;
}
#footer p {
    color: white;
    font-weight: 200;
    font-size: 12px;
    line-height: 3.6rem;
}
#usedBy {
	padding: 50px 0 0 0;
}


/*screen resolutions*/

@media all and (max-width: 1680px) {
    #fullpage .slide img, #fullpage #section4 img {
        height: 75vmin;
        max-height: 760px;
        width: auto;
    }
}

@media all and (max-width: 1440px) {
    #fullpage .slide img, #fullpage #section4 img {
        height: 75vmin;
        max-height: 640px;
        width: auto;
    }
}

@media all and (max-width: 1366px) {
    #fullpage .slide img, #fullpage #section4 img {
        width: 90%;
        height: auto;
    }
    #menu #menu-main li:last-child {
        display: none;
    }
    #menu #menu-main {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 5vmin;
    }
    #menu #menu-main li {
        float: left;
        text-align: center;
    }
}

@media all and (max-width: 1024px) {
    #menu #menu-main {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 1vmin;
    }
    #menu #menu-main li {
        float: left;
        text-align: center;
    }
}

@media all and (max-width: 900px){
	#usedBy{
		padding: 0 0 0 0;
	}
	#usedBy{
		width: 275px;
		height:50px;
	}
}

@media all and (max-width: 720px) {
    #fullpage #section0 h1 {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 480px) {
    #fullpage #section0 h1 {
        font-size: 2rem;
    }
    #menu #menu-main h1 {
        display: none;
    }
}